* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: wheat;
    min-height: 100vh;
    padding: 20px 10px;
}

i {
    font-size: 20px;
}

.btn {
    display: flex;
    align-items: center;
}